html[dir="ltr"] .myAppBS .myCustomButton.sapMBtn{ /*Left to right*/
    margin-right: 0.125rem
}

html[dir="rtl"] .myAppBS .myCustomButton.sapMBtn{ /*Right to left*/
    margin-right: 0.125rem
}

/*Landing Page style*/
.landingPage{
    position: relative;
}

/*Book List style*/
.bookList{
    min-height: 360px;
}

/*Header style*/
.bookHeader {
    display: flex;
    align-items: center;
    min-height: 6rem;
    padding: 0 1.5rem;
    background-color: white;
}

.headerLeft, .headerRight {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerCenter {
    display: flex;
    justify-content: center;
}

.headerRight{
    justify-content: flex-end;
}

.headerTextNav .sapMBtnInner {
    border: none;
    background: transparent;
    box-shadow: none;
}

/*Promotion style*/
.promotion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 3rem;
}

.promotionLeft .promotionRight{
    flex: 1;
    display: flex;
    align-items: center;
}

.promotionRight{
    gap: 20px;
}

.promotionTitle{
    font-size: 55px;
    font-family:cursive;
}

.promotionBookDetails, .promotionPayment, .promotionBookRating{
    display: flex;
    align-items: center;
}

.promotionBookRating{
    gap: 1rem;
}

.promotionBookDetails{
    gap: 2rem;
}

.promotionDetailTitles{
    font-weight: bolder;
}

.promotionPayment{
    gap: 1rem;
    margin-top: 10px;
}

.promotionPaymentText{
    font-size: 20px;
    font-weight: bold;
}

/*Ad Style*/
.adBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: #5a7da0;
    border-radius: 20px;
    margin: 20px;
}

.adLeft, .adRight{
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-width: 18rem;
}

.adLeft{
    gap: 1rem;
}

.adText{
    color: white;
}

.adTitle{
    font-size: 45px;
}

.adEmail{
    gap: 1rem;
}

.adImg{
    border-radius: 20px;
}

/*Footer Style*/
.footerContent{
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
}

.footerLeft, .footerRight{
    flex: 1;
    display: flex;
    align-items: center;
}

.footerDetailTitles{
    font-weight: bolder;
}

/*Side Nav Style*/
.sideNav{
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: 9999;
}